# Ignore all
/*
cmake/*


## Unignore the following extensions
!*.h
!*.cc
!*.cpp
!*.sh
!*.MD
!*.py

# Unignore the following files
!*CMakeLists.txt
!.travis.yml
!.gitignore

# Unignore source code directories
!benchmark/
!cmake
!common/
!core/
!database/
!protocol/
!scripts/
